@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet');

.search-field{
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100px;
}
.search-box {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 30px;
  width: 400px;
  margin-top: 50px;
  border-color: #000;
  color: black;
  background: transparent;
  border-radius: 25px;
  /* z-index: 50; */
}

::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
  margin-left: 10px;
}

.title {
  font-weight: 400;
  border: #000;
}





