@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet');


body, html {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./assets/pexels-lucas-pezeta-2398354.jpg'); */
  max-width: 100%;
  height: auto;
}

code {
  font-family: 'Mukta', sans-serif;
}

